@charset "utf-8";
.bitaoti{	width:189px; 
			height:75px; 
			border-bottom:2px solid #02935C;
			font-size:26px;
			line-height:75px;
			text-align:center;
			font-family:"微软雅黑";
			display:inline-block;}
.ddiv{		width:1000px;
			height:900px;
			margin:35px auto;
			font-size:0px;
			text-align:center;}
.dizhilan{	display:inline-block;
			font-size:19px;
			font-family:"微软雅黑";
			width:785px;
			border-bottom:2px solid #CCC;
			text-align:right;
			height:72px;
			line-height:75px;}
.yejiao{	height:256px;
			background:#19CB7F;
			padding-top:44px;}
.yejiaoneirong{ width:500px;
				height:190px;
				margin:0px auto;
				text-align:center;}
.yejiaoneirong p{color:#FFF;
				margin-left:15px;
				margin-top:10px;}
.yejiaoneirong div a{margin-left:15px;
				margin-top:10px;}